<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1"><b>Admin</b>LTE</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

      <p class="mb-0">
        <%= render "admin/admin_users/shared/links" %>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

